<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Emisiones</servlet-name>
		<servlet-class>sos.EmisionesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Emisiones</servlet-name>
		<url-pattern>/api/v2/emisiones/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TiposEnergia</servlet-name>
		<servlet-class>sos.TiposEnergyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TiposEnergia</servlet-name>
		<url-pattern>/api/v2/tiposenergias/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Consumos</servlet-name>
		<servlet-class>sos.ConsumosEnergiasServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Consumos</servlet-name>
		<url-pattern>/api/v2/consumos/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletCSVEnergia</servlet-name>
		<servlet-class>sos.ServletCSVEnergia</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCSVEnergia</servlet-name>
		<url-pattern>/api/v2/servletCSVEnergia/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletCSVConsumo</servlet-name>
		<servlet-class>sos.ServletCSVConsumo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCSVConsumo</servlet-name>
		<url-pattern>/api/v2/servletCSVConsumo/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletCSVEmission</servlet-name>
		<servlet-class>sos.ServletCSVEmission</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletCSVEmission</servlet-name>
		<url-pattern>/api/v2/servletCSVEmission/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PapamoscasProxy</servlet-name>
		<servlet-class>sos.PapamoscasProxyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PapamoscasProxy</servlet-name>
		<url-pattern>/api/v2/papamoscas/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mariajoseProxyServlet</servlet-name>
		<servlet-class>sos.mariajoseProxyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>mariajoseProxyServlet</servlet-name>
		<url-pattern>/api/v2/mariajoseProxyServlet/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
